<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Home Page</title>
</head>

<body>
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>

        <!-- Sidebar for Admin -->
        <%- include('./partials/sidebar.ejs') %>

            <!-- Main Content -->
            <div class="content paddings" style="margin-left: 0; margin-top: 100px;">
                <!-- Content will adjust margin based on user role -->
                <div class="container mt-3 w-100 d-flex flex-row flex-wrap gap-3">
                    <% blogs.forEach((blog)=> { %>
                        <div class="card" style="width: 18rem; height: 22rem;">
                            <img class="card-img-top p-3" height="50%" src="<%= blog.thumbnailImage %>"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= blog.title %>
                                </h5>
                                <!-- <p class="card-text">
                                    <%= blog.description %>
                                </p> -->
                                <p class="card-text">
                                    Category: <%= blog.category %>
                                </p>
                                <a href="/blogs/<%= blog._id %>" class="btn btn-primary">View</a>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>

            <%- include('./partials/scripts.ejs') %>

                <script>
                    // JavaScript to handle active state using Bootstrap classes
                    document.querySelectorAll('.nav-link').forEach(link => {
                        link.addEventListener('click', () => {
                            // Remove active class from all links
                            document.querySelectorAll('.nav-link').forEach(l => l.classList.remove('active'));
                            // Add active class to the clicked link
                            link.classList.add('active');
                        });
                    });
                </script>
</body>

</html>